.DS_Store
build/
*.o
*.a
*.so
*.dylib
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.log
*.mem
.idea/
.vscode/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json
workspace/
logs/
